#{extends 'main.html' /} #{set title:'Edit Details' /} #{mainmenu/}

<h1 class="ui teal header">Edit details:</h1><br>
<section class="ui form grid">
  <div class="twelve wide column">
    <form action="/editprofile/change" method="POST">
      <div class="three fields">
        <div class="field">
          <div class="ui small teal header">First Name</div>
          <input placeholder="First Name" type="text" name="firstName"
          required="true">
        </div>
        <div class="field">
          <div class="ui small teal header">Last Name</div>
          <input placeholder="Last Name" type="text" name="lastName"
          required="true">
        </div>
        <div class="field">
          <div class="ui small teal header">email</div>
          <input placeholder="email" type="email" name="email"
          required="true">
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <div class="ui small teal header">password</div>
          <input type="password" name="password" required="true">
        </div>
        <div class="field">
          <div class="ui small teal header">occupation</div>
          <input placeholder="occupation" type="text" name="occupation"
          required="true">
        </div>
      </div>
      <button class="ui blue submit button">Update</button>
    </form>
  </div>
  <div class="column"></div>
</section>
<script>
	$('.ui.dropdown').dropdown();
</script>