<section class="ui form grid">
  <div class="eight wide column">
    <form action="${_route}" method="POST">
      <div class="two fields">
        <div class="field">
          <div class="ui small teal header">Username</div>
          <input type="text" name="email">
        </div>
        <div class="field">
          <div class="ui small teal header">Password</div>
          <input type="password" name="password">
        </div>
      </div>
      <br>
      <button class="ui large blue submit button">Login</button>
    </form>
  </div>
  <div class="column"></div>
</section>